
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@font-face {
    font-family: 'futura';
    src: url(Futura\ Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #F5D8CE;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

header > img {
    padding-left: 20px;
}

nav > a {
    padding-right: 20px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}

.right {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.left {
    width: 50vw;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 340px;
}

.drih-skin {
    width: 30vw;
    height: 90vh;
}

.buttons > a { 
    padding-left: 40px;
}

.text-main {
    font-family: 'futura-bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    padding-left: 40px;
}

.text-main > h1 {
    font-size: 130px;
    font-family: 'futura';
}

.text-main > p {
    font-size: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 2560px) {
    .drih-skin {
        width: 100vw;
        height: 100vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }
}

@media(max-width: 1920px) {

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .text-main > h1 {
        font-size: 90px;
    }

    .button-discord {
        width: 200.8px;
        height: 47.2px;
    }

    .button-twitter {
        width: 193.6px;
        height: 42.4px;
    }

    .logo {
        width: 84px;
        height: 71px;
    }

    .drih-skin {
        width: 30vw;
        height: 100vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }
}

/* @media(max-width: 1520px) {
    .button-discord {
        width: 200.8px;
        height: 47.2px;
        position: absolute;
        top: 700px;

    }

    .button-twitter {
        width: 193.6px;
        height: 42.4px;
        position: absolute;
        top: 350px;
        left: 240px;
    }
} */

@media(max-width: 1370px) {
    .buttons {
        padding-right: 200px;
    }
}

@media(max-width: 1280px) {

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .text-main > h1 {
        font-size: 90px;
    }

    .buttons {
        padding-left: 200px;
    }

    .button-discord {
        width: 200.8px;
        height: 47.2px;
    }

    .button-twitter {
        width: 193.6px;
        height: 42.4px;
    }

    .logo {
        width: 84px;
        height: 71px;
    }
}

@media(max-width: 1024px) {

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .text-main > p {
        font-size: 15px;
    }

    .button-discord {
        width: 200.8px;
        height: 47.2px;
    }

    .button-twitter {
        width: 193.6px;
        height: 42.4px;
    }
}

@media(max-width: 912px) {

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .text-main > p {
        font-size: 25px;
        width: 70vw;
    }

    .drih-skin {
        width: 60vw;
        height: 50vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }
}

@media(max-width: 768px) {
    .drih-skin {
        width: 60vw;
        height: 60vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }
}

@media(max-width: 540px) {
    .text-main > h1 {
        font-size: 40px;
    }

    .text-main > p {
        font-size: 15px;
        width: 70vw;
    }

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-discord {
        width: 100.4px;
        height: 23.6px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
    }

    

    .drih-skin {
        width: 50vw;
        height: 50vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }
}

@media(max-width: 425px) {
    .button-discord {
        width: 100.4px;
        height: 23.6px;
        position: absolute;
        top: 400px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
        position: absolute;    
        top: 200px;
        left: 50px;
    }
}

@media(max-width: 414px) {
    .text-main > h1 {
        font-size: 40px;
    }

    .text-main > p {
        font-size: 10px;
        width: 70vw;
    }


    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-discord {
        width: 100.4px;
        height: 23.6px;
        position: absolute;
        top: 400px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
        position: absolute;    
        top: 200px;
        left: 50px;
    }

    .drih-skin {
        width: 60vw;
        height: 50vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }
}

@media(max-width: 412px) {
    .text-main > h1 {
        font-size: 40px;
    }

    .text-main > p {
        font-size: 10px;
        width: 70vw;
    }

    .button-discord {
        width: 100.4px;
        height: 23.6px;
        position: absolute;
        top: 400px;
    }

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
        position: absolute;    
        top: 200px;
        left: 50px;
    }

    .drih-skin {
        width: 60vw;
        height: 50vh;
    }

    .right {
        display: flex;
        align-items: flex-end;
    }

}

@media(max-width: 375px) {
    .text-main > h1 {
        font-size: 40px;
    }

    .text-main > p {
        font-size: 10px;
        width: 70vw;
    }

    .button-discord {
        width: 100.4px;
        height: 23.6px;
        position: absolute;
        top: 340px;
    }

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
        position: absolute;    
        top: 170px;
    }

}

@media(max-width: 360px) {
    .text-main > h1 {
        font-size: 40px;
    }

    .text-main > p {
        font-size: 10px;
        width: 70vw;
    }

    .button-discord {
        width: 100.4px;
        height: 23.6px;
        position: absolute;
        top: 340px;
    }

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
        position: absolute;    
        top: 170px;
    }

}

@media(max-width: 320px) {
    .button-discord {
        width: 100.4px;
        height: 23.6px;
        position: absolute;
        top: 340px;
        left: 180px;
    }

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-twitter {
        width: 96.8px;
        height: 21.2px;
        position: absolute;    
        top: 170px;
        left: 30px;
    }
}

@media(max-width: 280px) {
    .text-main > h1 {
        font-size: 30px;
    }

    .text-main > p {
        font-size: 10px;
        width: 70vw;
    }


    .button-discord {
        width: 80.32px;
        height: 18.88px;
        position: absolute;
        top: 300px;
        right: 50px;
    }

    .net-icon {
        width: 22px;
        height: 22px;
    }

    .button-twitter {
        width: 77.44px;
        height: 16.96px;
        position: absolute;
        top: 150px;
        left: 30px;
    }

}




